@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-3xl;
    }
    h3 {
      @apply text-2xl;
    }
    h4 {
      @apply text-xl;
    }
    h5 {
      @apply text-base;
    }
    h6 {
      @apply text-xs;
    }
    a {
      @apply text-blue-600;
    }
}

@keyframes spinner {
  0%  {box-shadow: 20px 0 #fff, -20px 0 #0002;background: #fff }
  33% {box-shadow: 20px 0 #fff, -20px 0 #0002;background: #0002}
  66% {box-shadow: 20px 0 #0002,-20px 0 #fff; background: #0002}
  100%{box-shadow: 20px 0 #0002,-20px 0 #fff; background: #fff }
}